= simple_form_for @listing do |f|
	%div.col-md-6
		= f.input :category_id, collection: Category.all, prompt: "Select Category"
		= f.input :subcategory_id, collection: Subcategory.all, prompt: "Select Subcategory"
		= f.input :title
		= f.input :description, input_html: {rows:10}
	%div.col-md-6
		= f.input :city
		= f.input :state
		= f.input :zipcode
	%div.col-md-12
		= f.button :submit
