

- if @listings.present?
	- @listings.each do |listing|
		%div.row
			%div.col-xs-2
				= listing.created_at.strftime('%d %b, %Y')
			%div.col-xs-4
				= link_to listing.title, listing
			%div.col-xs-3
				posted in
				= link_to listing.category.name, listing.category
				\/
				= link_to listing.subcategory.name, category_subcategory_path(listing.category.id, listing.subcategory.id)
			%div.col-xs-3
				= listing.city
				,
				= listing.state
- else
	%p There's no post present for this category