%div.well
	%h4 Search rubylist
	= form_tag search_listings_path, method: :get do |f|
		= text_field_tag :search, nil, placeholder: 'search'
		= text_field_tag :location, nil, placeholder: 'near'
		= select_tag :category, options_for_select(Category.all.map{ |c| [c.name, c.id ]})
		= submit_tag '>'

%div.row
	- @categories.each do |cat|
		%div.col-md-4
			%div.panel.panel-default
				%div.panel-heading
					%h3.panel-title= link_to cat.name, category_path(cat)
				%div.panel-body
					%ul
						- cat.subcategories.each do |sub|
							%li= link_to sub.name, category_subcategory_path(cat, sub)